<strong> Formulario de Consultas de Usuarios</strong>
<div>
	
	<script type="text/javascript" language="JavaScript" src="validar_formulario.js"></script>
	
	<form action="mostrar_usuario.php" name="form1">
		<table>
			<tr>
				<td>ID:</td><td><input type="text" name="id" size="10"></td>
			</tr>
			<tr>
				<td>Nombre:</td><td><input type="text" name="nombre" size="30"></td>
			</tr>
			<tr>
				<td>Descripción:</td><td><input type="text" name="descripcion" size="30"></td>

			</tr>
			<tr>
				<td></td><td align="right">
					 <button type="button" value="Consultar" onClick="validar();">Consultar</button>
				</td>
			</tr>
			</table>
	</form>
</div>