<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

 <head>
  <title><!--{$titulo}--></title>
  <link href="estilo.css" rel="stylesheet" rev="stylesheet" type="text/css">
 </head>
 <body>
	<!--{include file="sitio_cabezal.tpl.html"}-->
 	<table width="100%">
 		<tr valign="top">
 		<td nowrap width="10%"><!--{include file="sitio_menu.tpl.html"}--></td>
 		<td width="90%"><!--{include file="$sitio_contenido"}--></td>
 		</tr>
 	</table>
	<!--{include file="sitio_pie.tpl.html"}-->
 </body>
</html>
