<b><!--{$titulo}--></b>

<div>
	<table cellpadding="5" cellspacing="5"> 

	<!--{if is_object($usuario) }-->			
			<tr><th>id</th><td><!--{$usuario->getId()}--></td></tr>
	  		<tr><th>nombre</th>	  		<td><!--{$usuario->getNombre()}--></td></tr>
	  		<tr><th>ingreso</th>	  		<td><!--{$usuario->getIngreso()}--></td></tr>	  	
	  		<tr><th>descripci&oacute;n</th>	  		<td><!--{$usuario->getDescripcion()}--></td></tr>
	<!--{else}-->
			<tr><th>id</th><td><!--{$usuario.id}--></td></tr>
	  		<tr><th>nombre</th><td><!--{$usuario.nombre}--></td></tr>
	  		<tr><th>ingreso</th><td><!--{$usuario.ingreso}--></td> </tr>
	  		<tr><th>descripci&oacute;n</th><td><!--{$usuario.descripcion}--></td> </tr>
	<!--{/if}-->

	</table>
</div>
